body {
  text-align: center;
}

.container {
  display: inline-block;
  border: solid 1px black;
  margin-left: auto;
  margin-right: auto;
  background-color: #A4C6FF;
  border-radius: 6px;
}

.resultScreen {
  background-color: #EEEEEE;
  box-sizing: border-box;
  border: solid 1px black;
  height: 45px;
  width: 92%;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  font-size: 24px;
  border-radius: 2px;
  padding-top: 3px;
  padding-right: 9px
}

table {
  table-layout: fixed;
  padding: 6px;
}

td {
  width: 50px;
  height: 50px
}

button {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:active {
  background-color: #DDDDDD;
}